services:
  mysql:
    image: mysql:8.0
    container_name: mysql-source
    hostname: mysql-source
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=zim_analytics
    command: >
      --default-authentication-plugin=mysql_native_password
      --server-id=1
      --log-bin=mysql-bin
      --binlog-format=ROW
      --binlog-row-image=FULL
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      data-network:
        ipv4_address: 172.25.0.2
  
  postgres:
    image: postgres:15-alpine
    container_name: postgres-source
    hostname: postgres-source
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=zim_pg_analytics
      - TZ=Asia/Jakarta
    command: >
      postgres 
      -c wal_level=logical 
      -c max_replication_slots=4 
      -c max_wal_senders=4
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      data-network:
        ipv4_address: 172.25.0.8

  starrocks-fe:
    image: starrocks/fe-ubuntu:latest
    hostname: starrocks-fe
    container_name: starrocks-fe
    restart: always
    command: /opt/starrocks/fe/bin/start_fe.sh
    ports:
      - 8030:8030
      - 9020:9020
      - 9030:9030
    environment:
      - TZ=Asia/Jakarta
    mem_limit: 2g
    volumes:
      - starrocks_fe_meta:/opt/starrocks/fe/meta
    networks:
      data-network:
        ipv4_address: 172.25.0.3

  starrocks-be:
    image: starrocks/be-ubuntu:latest
    hostname: starrocks-be
    container_name: starrocks-be
    restart: always
    command: /opt/starrocks/be/bin/start_be.sh
    ports:
      - 8040:8040
      - 9050:9050
    environment:
      - TZ=Asia/Jakarta
    depends_on:
      - starrocks-fe
    mem_limit: 4g
    volumes:
      - starrocks_be_storage:/opt/starrocks/be/storage
    networks:
      data-network:
        ipv4_address: 172.25.0.4

  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    restart: always
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      data-network:
        ipv4_address: 172.25.0.5

  connect:
    image: debezium/connect:2.5
    container_name: connect
    restart: always
    ports:
      - "8083:8083"
    environment:
      - BOOTSTRAP_SERVERS=kafka:9092
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
      - KEY_CONVERTER_SCHEMAS_ENABLE=false
      - VALUE_CONVERTER_SCHEMAS_ENABLE=false
    depends_on:
      - kafka
    networks:
      data-network:
        ipv4_address: 172.25.0.6

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    restart: always
    ports:
      - "8989:8080"
    depends_on:
      - kafka
      - connect
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: local-kraft
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: debezium
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://connect:8083
    networks:
      data-network:
        ipv4_address: 172.25.0.7

volumes:
  mysql_data:
  postgres_data:
  starrocks_fe_meta:
  starrocks_be_storage:
  kafka_data:

networks:
  data-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16  # <-- GANTI KE 172.25